@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-teal: #008080;
  --color-peach: #FFDAB9;
  --color-sand: #FCF6F0;
  --color-lavender: #967BB6;
}

html,
body {
  box-sizing: border-box;
  background-color: #FCF6F0;
}
